/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary-blue: #3179CC;
  --color-secondary-blue: #0159BF;
  --color-primary-orange: #FF4500;
  --color-faded-blue: #94BAE7;
  --color-grey-font: #A8A8A8;
  --color-dark-grey-font: #9C9C9C;
  --color-shadow-border: #CECECE;
}