#side-navbar-list {
  padding: 20px 0;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 9px 40px;
  }

  li:hover {
    background-color: #F5F5F5;
    color: black;
  }

  h3 {
    margin: 0 0 0 40px;
    color: var(--color-grey-font);
    font-family: "Roboto Light", sans-serif;
    font-size: 12px;
  }
}